<article class="my-4">
    <h4>
      $content.Title.text
    </h4>
    #if ( $content.body.text != "" )
    <p>$content.body.text</p>
    #end
    #if ($content.allegati.size()>0)
    <h5>$i18n.getLabel("CNG_ATTACHMENTS")</h5>
<div class="link-list-wrapper">
  <ul class="link-list">
        #foreach ($item in $content.allegati )
        <li>
            <a class="list-item" href="$item.attachPath">$item.text
            <svg class="icon icon-primary m-0">
               
               <use xlink:href="/procuradiroma/resources/static/img/sprite.svg#it-download">
               </use>
            </svg>           
            </a>
        </li>
        #end
    </ul>
</div>
    #end
    #if ($content.links.size()>0)
    <h5>$i18n.getLabel("CNG_LINKS")</h5>
 <div class="link-list-wrapper">
  <ul class="link-list">
        #foreach ($item in $content.links)
        <li>
            <a class="list-item" href="$item.destination">$item.text
            <svg class="icon icon-primary m-0">
            <use xlink:href="/procuradiroma/resources/static/img/sprite.svg#it-chevron-right">
                </use>
            </svg>
            
            </a>
        </li>
        #end
     </ul>
</div>
    #end
</article>